//footer styling 

footer{
  background: $light-white;
  margin-top: 2rem;
  padding: 2rem 0;
  box-shadow: $card-shadow;

  .container{
    width: 70%;
    margin: 0 auto;
    font-size: .8rem;
    line-height: 1.4rem;
  }
}


footer .f-container{
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;

  .about, .contact{
    width: 35%;
    margin-bottom: 0;
  }
  
  .f-social{
    width: 20%;
  }

  h4{
    font-weight: 550;
    margin-bottom: 1.5rem;
  }

  .about{
    text-align: center;

    i{
      font-weight: 550;
      margin-bottom: 1.5rem;
    }
  }

  .c-details, .f-social{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    i{
      margin-right: .5rem;
    }
  }
}

footer .copyright{
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: space-between;
  display: flex;

}