//article page styling
.section-c{

  //container for articles
  .container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}

//container for articles
.section-c .c-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


//style for left section containing main articles
.section-c .c-left{
  width: 60%;
  
  article.main{
    text-align: center;
    box-shadow: $card-shadow;

    img{
      width: 100%;
      border-bottom: 4px solid $transparent-blue;
      
    }

    //main content features also repeated in side nav
    .m-content{
      position: relative;
      text-transform: capitalize;
      padding: 1rem 0;
      //margin-bottom: 1rem;

      h4{
        position: absolute;
        top: -1.5rem;
        left: 45%;
        font-size: .8rem;
        background-color: $transparent-blue;
        padding: 8px 16px;
        width: auto;
        margin: 0 auto;
      }

      //paragraph with details style
      p.details{
        padding: 1rem 0;
        line-height: 1.4rem;
        font-size: .8rem;
        font-weight: 550;
        width: 60%;
        margin: 0 auto;
      }
      
      //practicals with athours and positons
      p.author{
        padding-top: .8rem;
        line-height: 1.4rem;
        font-size: .8rem;
        color: $dark-white;

        //styling contributors spam section
        span.name{
          color: black;
          font-weight: 550;
        }
      }
    
    }

  }

  .topics{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    //subtopics
    article.sub-topic{
      width: 48%;
      display: flex;
      margin: 1rem 2px;
      box-shadow: $card-shadow;
      padding: 1rem 0;

      img{
        width: 100px;
        height: 100px; 
        margin-left: 10px;
      }

      .s-content{
        text-transform: capitalize;
        margin-left: 5px;

        h4{
          line-height: 1.4rem;
          font-size: .8rem;
          font-weight: 550;
        }

        p{
          padding-top: .8rem;
          font-size: .8rem;
          line-height: 1.4rem;
          color: $dark-white;

          span.name{
            color: black;
            font-weight: 550;
          }
        }
      }
    }

  }
}

//right section containing two sub articles
.section-c .c-right{
  text-transform: capitalize;
  width: 35%;
  margin: 0 auto;

  article.sub-topic{
    margin-bottom: 2rem;
    box-shadow: $card-shadow;
    
    img{
      width: 100%;
      border-bottom: 4px solid $transparent-blue;
    }

    .s-content{
      width: 90%;
      margin: 0 auto;

      h4{
        padding-top: .8rem;
        font-size: .8rem;

      }

      p.details{
        padding: 1rem 0;
        line-height: 1.4rem;
        font-size: .8rem;
        font-weight: 550;
      }

      p.author{
        padding: .8rem 0;
        font-size: .8rem;
        color: $dark-white;

        //styling contributors spam section
        span.name{
          color: black;
          font-weight: 600;
        }
      }
    }
  }

}