//smartphones media query less than 500px
/*got really tired of writing comments not my fault don't know the english to use nor blame me*/
@include mediaSm{

  //media query for section a
  #section-a{

    .container{
      width: 90%;
    }

    .details{
      width: 100%;

      p{
        text-align: left;
      }
    }
  }

  //secton b query making service links 
  .section-b{

    .container{
      width: 95%;
    }

    .s-container{
      display: block;

      .service{
        width: 100%;
      }
    }
  }

  .section-d{

    .container{
      width: 90%;
    }
    
    .s-container{

      li.staff{
        width: 90%;
      }
    }
  }

  footer{

    .container{
      width: 95%;
    }

    .f-container{
      display: block;

     
      .about, .contact, .f-social{
        width: 100%;
        margin-bottom: 2rem;
      }

      .contact,.f-social{
        text-align: center;
      }

    }
    .copyright{
      display: block;
      text-align: center;
    }
  }
}

@include mediaMd{

  #section-a{

    .container{
      width: 85%;
    }
  }

  .section-b{

    .container{
      width: 85%;
    }

    .s-container .service{
      width: 90%;
    }
  }

  .section-d{
    
    .container{
      width: 90%;
    }

    .s-container{

      li.staff{
        width: 45%;
      }
    }
  }

  footer .container{
    width: 80%;
  }
 
}

@include mediaLg{

  header{

    .container{
      width: 90%;
    }

    .logo,.logo i.fab.fa-autoprefixer{
      width: auto;
    }


    .logo i.fas.fa-bars{
      display: none;
    }

    .header-nav{
      position: absolute;
      top: 0;
      right: 0;
      display: block;

      ul{
        display: inline-block;

        li{
          display: inline-block;
          padding: 1rem 0;

          a{
            padding: 1rem .5rem;
          }
        }
      }
    }

    .sidenav{
      display: none;
    }
  }
  
 .section-d{

  .container{
    width: 95%;
  }
 }

 footer{

  .container{
    width: 90%;
  }
 }
}

@include mediaXl{

  header{

    .container{
      width: 90%;
    }

    .logo,.logo i.fab.fa-autoprefixer{
      width: auto;
    }


    .logo i.fas.fa-bars{
      display: none;
    }

    .header-nav{
      position: absolute;
      top: 0;
      right: 0;
      display: block;

      ul{
        display: inline-block;

        li{
          display: inline-block;
          padding: 1rem 0;

          a{
            padding: 1rem 2rem;
          }
        }
      }
    }

    .sidenav{
      display: none;
    }
  }
  
}