//landing page 
#section-a{
  padding-top: 3.4rem;
  background-color: $light-white;
  height: auto;
  box-shadow: $card-shadow;

  //landing page container
  .container{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
  }
}

//landing page details
#section-a .details{
  margin: 1rem auto;
  width: 60%;
  

  h1,i,p{
    margin-bottom: 1rem;
  }

  h1{
    font-size: 1rem;
  }

  i{
    font-size: 2rem;
  }

  p{
    font-size: .8rem;
    line-height: 1.4rem;
  }
  
}
